# Env y credenciales
.env
.env.*
*.pem
*.p12
*.key
*.keystore
*.jks
*.pfx
*.crt
*.csr

# Donde estaban tus claves
PatitasV2_rest/modules/authGoogle/
PatitasV2_rest/modules/storageGoogle/

# Node / RN / Expo
node_modules/
dist/
build/
.cache/
.expo/
.expo-shared/

# Python (si aplica)
__pycache__/
*.pyc
venv/
EOF
